<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>833945671185-f2sp5kh4mpmpt28p4djilrs0u1pt4d98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833945671185-f2sp5kh4mpmpt28p4djilrs0u1pt4d98</string>
	<key>API_KEY</key>
	<string>AIzaSyDaXBWxU_TVyEaWnx6DYrpnJjE6O6KCejY</string>
	<key>GCM_SENDER_ID</key>
	<string>833945671185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.fpt.mobiledev</string>
	<key>PROJECT_ID</key>
	<string>tdc-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>tdc-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833945671185:ios:0e052f84070af65b</string>
	<key>DATABASE_URL</key>
	<string>https://tdc-mobile.firebaseio.com</string>
</dict>
</plist>