<ng-container >

  <ion-item>
    <ion-label>Categories</ion-label>
    <ion-select [(ngModel)]="categories" multiple="true" (ionChange)="updateFcmTopic()" >
      <ion-option value="fire_emergency">Fire Emergency</ion-option>
      <ion-option value="road_closure_traffic">Road Closure/Traffic</ion-option>
      <ion-option value="weather_disaster">Weather & Disaster</ion-option>
    </ion-select>
  </ion-item>

</ng-container>


<ng-template #notSupported>
  <em>You must be on a native device to subscribe to topic notifications</em>
</ng-template>