<ng-container *ngIf="isSupportedPlatform; else notSupported">

  <ion-item>
    <ion-label>Categories</ion-label>
    <ion-select [(ngModel)]="categories" multiple="true" (ionChange)="updateFcmTopic()" >
      <ion-option value="Fire Emergency">Fire Emergency</ion-option>
      <ion-option value="Road Closure/Traffic">Road Closure/Traffic</ion-option>
      <ion-option value="Weather & Disaster">Weather & Disaster</ion-option>
    </ion-select>
  </ion-item>

</ng-container>


<ng-template #notSupported>
  <em>You must be on a native device to subscribe to topic notifications</em>
</ng-template>